@import "nulstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);

$maxWidthContainer: 856;
$MinWidth: 320px;
$MaxWidth: 1152;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$maxWidth: 1152;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.header {
	&__menu {
		text-align: center;
		padding: 0;
		display: flex;
		justify-content: space-between;
		min-width: 236px;
	}

	&__container {
		max-width: 944px;
		margin: 0 auto;
	}

	&__top {
		height: 70px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__points {
		list-style-type: none;
	}

	&__link {
		text-decoration: none;
		font-size: 20px;
		font-weight: 500;
		color: rgb(0, 0, 0);
	}
}

.content {
	&__wrapper {
		display: flex;
		width: 100%;
		min-height: 100%;
		margin: 0 auto;
		flex-direction: column;
	}
	&__container {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		@media (max-width: $md1+px) {
			max-width: 970px;
		}
		@media (max-width: $md2+px) {
			//max-width: 750px;
		}
		@media (max-width: $md3+px) {
			max-width: none;
			padding: 0 10px;
		}
	}
}

.hi {
	&__wrapper {
	}

	&__down {
		padding-top: 140px;
		display: flex;
		min-height: 386px;
	}

	&__text {
		margin: 0px 109px 0px 0px;
		word-break: keep-all;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 385px;
		text-align: left;
		@media (max-width: $md1+px) {
			margin-right: 0px 0px 0px 0px;
		}
	}

	&__heading {
		min-width: 440px;
		font-size: 44px;
		line-height: 55 / 44 * 100%;
		@include adaptiv-font(44, 32);
	}

	&__paragraph {
		font-size: 16px;
		font-weight: 300;
		min-height: 66px;
		line-height: 25px;
	}

	&__photo {
		pointer-events: none;
		flex: 0 0 243px;
	}

	&__avatar {
		min-width: 256px;
	}

	&__download {
		display: inline-flex;
		align-items: center;
		padding: 0px 20px;
		border-radius: 3px;
		max-width: 208px;
		min-height: 47px;
		background-color: #ff6464;
		font-size: 20px;
		color: white;
		font-weight: 500;
		text-decoration: none;
	}
	&__button {
		margin-bottom: 71px;
		font-size: 20px;
		font-weight: 500;
		white-space: nowrap;
	}
}

.recent-posts {
	max-width: 100%;
	min-width: 100%;
	height: 396px;

	&__wrapper {
		background-color: #EDF7FA;
		display: flex;
		width: 100%;
		min-height: 100%;
		flex-direction: column;
	}
	&__container {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		@media (max-width: $md1+px) {
			max-width: 970px;
		}
		@media (max-width: $md2+px) {
			//max-width: 750px;
		}
		@media (max-width: $md3+px) {
			max-width: none;
			padding: 0 10px;
		}
	}

	&__points {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 67px;
	}

	&__name {
		font-size: 22;
		@include adaptiv-font(22, 18);
	}
	&__view-all {
		font-size: 16px;
		text-decoration: none;
		color: #00a8cc;
	}

	&__cards {
		display: flex;
		//border: 2px solid #ff6464;
		justify-content: space-between;
		min-width: 856px;
	}

	&__card {
		background: white;
		max-width: 418px;
		min-height: 295px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		padding-left: 23px;
	}

	&__card-heading {
		font-size: 26px;
		line-height: 40px;
		height: 85px;
		@include adaptiv-font(26, 22);
	}

	&__date-and-subject {
		padding-left: 24px;
		min-width: 308px;
		display: flex;
		flex-wrap: nowrap;
	}
	&__date {
		padding-right: 30px;
		font-size: 18px;
		@include adaptiv-font(18, 16);
	}

	&__subject {
		padding-left: 30px;
		border-left: 1px solid #21243d;
		font-size: 18px;
		@include adaptiv-font(18, 16);
	}

	&__card-paragraph {
		font-size: 16px;
		line-height: 25px;
		min-width: 368px;
		@include adaptiv-font(16, 16);
		padding-right: 50px;
	}
}

.featured-works {
	height: 844px;

	&__container {
		height: 844px;
	}

	&__wrapper {
	}

	&__subtitle {
		height: 74px;
	}

	&__work {
		min-height: 247px;
		border-bottom: 2px solid #e0e0e0;
		display: flex;
	}

	&__photo {
		padding-top: 32px;
	}

	&__cards {
		display: flex;
		height: 247px;
		line-height: 25px;
	}

	&__container-cards {
		margin-top: 33px;
		justify-content: space-between;
		flex-direction: column;
		height: 180px;
		display: flex;
		padding-left: 18px;
	}
	&__date-and-subject {
		display: flex;
	}

	&__date {
		font-size: 18px;
		margin-right: 26px;
		border: solid 1px #142850;
		background: #142850;
		color: #ffffff;
		font-weight: bold;
		min-width: 62px;
		text-align: center;
		border-radius: 20px;
	}

	&__subject {
		font-size: 20px;
		display: inline;
	}

	&__card-paragraph {
	}

	&__heading {
		font-size: 30px;
	}
}

.footer {
	&__wrapper {
		display: flex;
		width: 100%;
		min-height: 100%;
		flex-direction: column;
	}

	&__container {
		max-width: $maxWidthContainer + px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
	}

	&__group {
		margin-top: 51px;
		min-height: 208px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__icons {
		min-width: 234px;
		display: inline-flex;
		justify-content: space-between;
	}

	&__icons-container {
		display: flex;
		justify-content: center;
		min-width: 856px;
		margin-bottom: 30px;
	}

	&__icon {
		font-size: 30px;
		color: #21243d;
	}

	&__copyright {
		min-width: 856px;
		text-align: center;
		font-size: 14px;
	}
}

.blog {
	margin-top: 71px;

	&__container {
		min-height: 751px;
	}

	&__wrapper {
	}
	&__points {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 67px;
	}

	&__name {
		font-size: 44px;
		margin-bottom: 58px;
	}
	&__view-all {
		font-size: 16px;
		text-decoration: none;
		color: #00a8cc;
	}

	&__cards {
		display: flex;
		flex-direction: column;
	}

	&__card {
		background: white;
		min-height: 212px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		border-bottom: 1px solid #e0e0e0;
	}

	&__card-heading {
		padding-top: 21px;
		font-size: 26px;
		line-height: 40px;
	}

	&__date-and-subject {
		display: flex;
		flex-wrap: nowrap;
	}
	&__date {
		padding-right: 30px;
		font-size: 18px;
	}

	&__subject {
		padding-left: 30px;
		border-left: 1px solid #21243d;
		font-size: 18px;
		color: #8695a4;
	}

	&__card-paragraph {
		font-size: 16px;
		line-height: 25px;
	}

	&__link {
		color: #21243d;
	}
}

.works {
	margin-top: 71px;
	height: 1044px;
	margin-bottom: 60px;
	&__wrapper {
	}

	&__link {
		color: #21243d;
	}

	&__title {
		height: 74px;
	}

	&__work {
		min-height: 247px;
		border-bottom: 2px solid #e0e0e0;
		display: flex;
		padding-bottom: 10px;
	}

	&__photo {
		padding-top: 32px;
	}

	&__cards {
		display: flex;
		height: 247px;
		line-height: 25px;
	}

	&__container-cards {
		margin-top: 33px;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		height: 180px;
		display: flex;
		padding-left: 18px;
	}
	&__date-and-subject {
		display: flex;
	}

	&__date {
		font-size: 18px;
		margin-right: 26px;
		border: solid 1px #142850;
		background: #142850;
		color: #ffffff;
		font-weight: bold;
		width: 62px;
		text-align: center;
		border-radius: 20px;
	}

	&__subject {
		font-size: 20px;
		display: inline;
		color: #8695a4;
	}

	&__card-paragraph {
	}

	&__heading {
		font-size: 30px;
	}
}

.works-designing {
	margin-top: 71px;

	&__container {
		max-width: 681px !important;
	}


	&__wrapper {
	}

	&__card {
		min-height: 728px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


	&__heading {
		width: 438px;
		font-size: 34px;
		font-weight: bold;
		line-height: 45px;
	}

	&__date-and-subject {
		display: flex;
		font-size: 20px;
	}


	&__date {
		padding: 2.5px;
		margin-right: 26px;
		border: solid 1px #ff7c7c;
		background: #ff7c7c;
		color: #ffffff;
		font-weight: bold;
		width: 62px;
		text-align: center;
		border-radius: 20px;
	}

	&__subject {
		color: #21243d;
	}


	&__paragraph {
		font-size: 16px;
		width: 665px;
		line-height: 25px;
	}

	&__photo {
	}

	&__heading-1 {
		font-size: 30px;
		font-weight: 500;
	}

	&__heading-2 {
		font-weight: 500;
		font-size: 24px;
	}
}
.active {
	color: #ff6464;
}

.card-1 {
	margin-bottom: 71px;
}

.photo-2 {
	margin-top: 36px;
}
.card-2 {
	min-height: 1114px;
}

.heading {
	font-weight: bold;
}

.all {
	color: #21243d;
	font-family: heebo;
}
.paragraph {
	font-size: 16px;
	font-weight: 300;
}

.name {
	font-size: 22px;
}

.title {
	font-size: 44px;
	font-weight: bold;
}
.subtitle {
	font-size: 22px;
	height: 88px;
	display: flex;
	align-items: center;
}

